ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

body {

    background-color: #11131F;
    color: var(--slate);
    list-style-type: none;
}


/* Desktop screen */

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* Header styles */
.header-container {
    max-width: 1216px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 783px;
    margin: 32px 32px;
}

.logo {

    color: var(--white, #F6F5EF);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}



.header-item {
    color: var(--white, #F6F5EF);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.header-link {
    color: var(--white, #F6F5EF);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.yacht-adv-icon {
    fill: var(--white, #F6F5EF);
}


@media only screen and (min-width: 1280px) {
    .header-container {
        max-width: 1216px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 723px;
        margin: 32px 32px;
    }

    .logo-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;


    }

    .header-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

    }

}

.header-container::after {
    content: "";
    position: absolute;
    top: 85px;
    left: 32px;
    display: block;
    height: 1px;
    width: 1216px;
    background-color: rgba(246, 245, 239, 0.20);

}